body{display: flex;
  flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
      background-color: #B5CAFF;
      font-family: Arial, Helvetica, sans-serif;
    }
   
    section{
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      align-items: center;
      background-color: rgb(48, 47, 47);
      
      
    }
  
      h1{
        font-size: 100px;
        color: #B39449;
      }
      h2{
        color: #B39449;
      }
      ul{
        list-style: none;
      }

      .metadata{
        width: 25em;
        color: white;
        border-radius: 5em;
        
      }
      .queryAll{
        width: 40em;
        border-radius: 5em;
        color: white;
      }

      .queryOne{
        width: 40em;
        border-radius: 5em;
        color: white;
      }
      .error{
        width: 40em;
        border-radius: 5em;
        color: white;
      }
    a{
      color: white;
      text-decoration: none;
    }

    svg {
      width: 90vmin;
    }
    .iris{
      animation: shake 2.5s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      animation-iteration-count: infinite;
    }
    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%{
        transform: translate3d(1px, 0, 0);
      }
    
      30%, 40%, 70% {
        transform: translate3d(-2px, 1px, 0);
      }
    
      40%, 60% {
        transform: translate3d(2px, 0, 0);
      }
    }