body{display: flex;
  flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
      background-color: #B5CAFF;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    section{
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      align-items: center;
      background-color: rgb(48, 47, 47);
      
      
    }
  
      h1{
        font-size: 100px;
        color: #B39449;
      }
      h2{
        color: #B39449;
      }
      ul{
        list-style: none;
      }

      .metadata{
        width: 25em;
        color: white;
        border-radius: 5em;
        
      }
      .queryAll{
        width: 40em;
        border-radius: 5em;
        color: white;
      }

      .queryOne{
        width: 40em;
        border-radius: 5em;
        color: white;
      }
      .error{
        width: 40em;
        border-radius: 5em;
        color: white;
      }
    a{
      color: white;
      text-decoration: none;
    }